<form
  id="search"
  (submit)="onSubmit($event)"
  [ngClass]="['grid--cell', 'fl-grow1', 'searchbar', pt, px, 'js-searchbar']"
  autocomplete="off"
>
  <div class="ps-relative search-frame" [style.width]="width">
    <input
      class="s-input s-input__search h100 search-box"
      autocomplete="off"
      type="text"
      [name]="name"
      maxlength="35"
      [placeholder]="placeholder"
      (input)="onChange($event)"
      [value]="value"
    />
    <img src="/assets/Search.svg" alt="Search Icon" />
  </div>
</form>