<div class="footer">
    <div class="socials">
      <div class="social-item">
        <a
          href="https://github.com/Mayank0255/Stackoverflow-Clone-Frontend"
          target="_blank"
          rel="noreferrer"
        >
          <img src="../../../assets/GitHub.svg" alt="GitHub" />
        </a>
        <p><strong>Frontend</strong></p>
      </div>
      <div class="social-item">
        <a
          href="https://github.com/Mayank0255/Stackoverflow-Clone-Backend"
          target="_blank"
          rel="noreferrer"
        >
          <img src="../../../assets/Database.svg" alt="Database" />
        </a>
        <p><strong>Backend</strong></p>
      </div>
    </div>
  </div>