<div class='grid-cell1'>
    <div class='cell-layout'>
      <div class='community'>
        <h3 class='bc-black-3'>
          <span class='icon'>
            <img src="assets/StackExchange.svg" alt="Stack Exchange Logo" />
          </span>
          <span class='text fw-bold fc-dark bc-black-3'>
            Communities
          </span>
        </h3>
        <ul>
          <li class='item'>
            <a routerLink='/'>
              <span>
                <img src="assets/LogoGlyphMd.svg" alt="Logo" class='logo' />
              </span>
              <span class='fc-blue-600 fs-body2'>
                Stack Overflow
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class='user-posts'>
        <h3 class='fw-bold fc-dark bc-black-3'>
          Top network posts
        </h3>
        <p class='fc-light'>
          We respect a laser-like focus on one topic.
        </p>
      </div>
    </div>
  </div>