<div class='grid-cell2'>
  <div class='top-tags'>
    <h3 class='fw-bold fc-dark bc-black-3'>Top Tags</h3>
    <div class='top-tags-sec'>
      <div class='top-tags-cells'>
        <div class='top-cell'>
          <div class='tag-cell bg-black-025'>
            <app-tag-badge
              [tagName]="'java'"
              [size]="'s-tag s-tag__lg'"
              [display]="'block'"
            ></app-tag-badge>
            <div class='score'>
              <div class='score-txt'>
                <div class='score-tab'>
                  <span class='txt fc-light'>Posts</span>
                  <span class='number fc-black-800'>2</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='top-tags-cells'>
        <div class='top-cell'>
          <div class='tag-cell bg-black-025'>
            <app-tag-badge
              [tagName]="'node.js'"
              [size]="'s-tag s-tag__md'"
              [display]="'block'"
            ></app-tag-badge>
            <div class='score'>
              <div class='score-txt'>
                <div class='score-tab'>
                  <span class='txt fc-light'>Posts</span>
                  <span class='number fc-black-800'>1</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='top-tags-cells'>
        <div class='top-cell'>
          <div class='tag-cell bg-black-025'>
            <app-tag-badge
              [tagName]="'react'"
              [size]="'s-tag s-tag__md'"
              [display]="'block'"
            ></app-tag-badge>
            <div class='score'>
              <div class='score-txt'>
                <div class='score-tab'>
                  <span class='txt fc-light'>Posts</span>
                  <span class='number fc-black-800'>0</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>