.Sidebar {
    z-index: 9999;
  }
  .SidebarOverlay {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
    z-index: 99;
    background-color: black;
    transition: opacity 300ms ease-in-out, width 0ms 300ms, height 0ms 300ms;
  }
  .SidebarContent {
    position: fixed;
    z-index: 100;
    transition: 300ms ease-in-out;
    transition-property: left, right, top, bottom;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: #333;
  }
  .Sidebar.is-open .SidebarOverlay {
    width: 100%;
    height: 100%;
    opacity: 0.25;
    transition: opacity 300ms ease-in-out, width 0ms, height 0ms;
  }
  .Sidebar.is-open .SidebarContent {
    left: 0 !important;
  }
  .Sidebar.is-open .SidebarContent.is-right {
    left: auto !important;
    right: 0 !important;
  }
  .ham {
    margin-left: 1rem;
  }
  .ham:hover {
    cursor: pointer;
  }
  .content-logo {
    padding: 1rem 2rem;
    background-color: #4d4d4d;
    box-shadow: 2px -2px 8px 3px black;
  }
  .content-inner {
    padding: 2rem 0;
    filter: contrast(1.4);
  }
  .side-bar-tabs {
    float: right;
    margin-top: 25px;
  }
  .home-link, .icon-link, .link {
    text-decoration: none;
    color: #c4c8cc;
  }
  .home-link p, .icon-link p, .link p {
    padding: 5px 5px 5px 5px;
    border-right: 3px;
    font-size: 13px;
  }
  .home-link:hover, .icon-link:hover, .link:hover {
    color: #f2f2f3;
  }
  .icon-link .icon {
    margin-right: 5px;
  }