<div class="vote-cell fc-black-800">
    <div class="stats">
      <div class="vote">
        <span class="vote-count">{{ answerCount }}</span>
        <div class="count-text">answers</div>
      </div>
      <div class="vote">
        <span class="vote-count">{{ commentCount }}</span>
        <div class="count-text">comments</div>
      </div>
      <div class="vote">
        <span class="vote-count">{{ tagCount }}</span>
        <div class="count-text">tags</div>
      </div>
    </div>
  </div>